<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>이상형 월드컵</title>
		<link rel="icon" type="image/x-icon" href="data:;base64,iVBORw0KGgo=" />
		<link rel="stylesheet" type="text/css" href="css/choice.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.6/lottie_light.min.js"></script>
		<script defer src="js/choice.js"></script>
	</head>
	<body>
		<div class="header">
			<p class="round"></p>
			<div class="name">
				<div id="star1"></div>
				<p id="name1"></p>
			</div>
			<div class="name">
				<p id="name2"></p>
				<div id="star2"></div>
			</div>
		</div>
		<div class="content">
			<div class="versus" id="wrapper1">
				<img side="1" i="0" />
				<img side="1" i="1" />
				<img side="1" i="2" />
				<img side="1" i="3" />
				<button class="heart" id="heart1"></button>
			</div>
			<div class="versus" id="wrapper2">
				<img side="2" i="0" />
				<img side="2" i="1" />
				<img side="2" i="2" />
				<img side="2" i="3" />
				<button class="heart" id="heart2"></button>
			</div>
			<div class="refresh-back"></div>
			<div class="refresh" id="refresh"></div>
			<div class="loading">
				<div class="transition"></div>
				<div class="transition"></div>
				<div class="transition"></div>
				<div id="twinkle"></div>
			</div>
			<div class="warning">
				<p>현재 해상도에서는 이미지 표시가 불가능합니다.</p>
				<p>가로 1280px 이상의 데스크탑/태블릿 또는 모바일 세로 화면으로 이용해주세요.</p>
			</div>
		</div>
		<div class="modal">
			<img />
		</div>
	</body>
</html>
