<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>이상형 월드컵</title>
		<link rel="icon" type="image/x-icon" href="data:;base64,iVBORw0KGgo=" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script defer src="js/index.js"></script>
	</head>
	<body>
		<div class="header">
			<p>구글 검색 이상형 월드컵</p>
		</div>
		<div class="content">
			<div class="wrap">
				<div id="gender">
					<div class="select">
						<div class="shadow"></div>
						<p id="gender0" class="option">남</p>
						<p id="gender1" class="option">여</p>
					</div>
					<p class="remainder">자 연예인</p>
				</div>
				<div class="buttons">
					<button id="round16" aria-label="round16">16강</button>
					<button id="round32" aria-label="round32">32강</button>
					<button id="round64" aria-label="round64">64강</button>
				</div>
				<div class="guide">
					<p>끝내지 않은 동일한 성별의 월드컵이 있을 경우 이어서 플레이합니다.</p>
					<p>새롭게 진행하시려면 월드컵 화면으로 진입해 현재 라운드를 눌러주세요.</p>
				</div>
				<div class="divider"></div>
				<button id="manage" aria-label="manage">명단 관리</button>
			</div>
			<div class="footer">
				<p>Copyright ⓒ 2021 Acoz. All Rights Reserved.</p>
			</div>
		</div>
	</body>
</html>
